// ============= Universal Styling ==================


.Page {
    position: absolute;
    z-index: -1;
    left: 15vw;
    width: 85vw;
    font-family: 'Poppins', sans-serif;
    background: #E2B23A;
}

h1 {
    margin-bottom: 25px;
    color: white;
}

h4 {
    margin: 50px 0px 30px 0px;
    
}

h5 {
    margin: 10px;
}

img {
    width: 50vw;
    border-radius: 5px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
}

// ============= Home.js ==================


// ============= SearchForm.js ==================

.Home {
    background: #E2B23A;
    height: 100%;
}

.imgBlock {
    background: url(https://i.imgur.com/KdZGXGJ.jpg?1);
    height: 75vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.formBlock {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, .6);
    height: 25vh;
    width: 100vw;
}

.formTitle {
    color: black;
    font-size: 20px;
}

#searchbar {
    margin: 3px;
    width: 167px;
    padding: 2px;
    color: black;
}

#selectBar {
    width: 175px;
    margin: 3px;
    padding: 2px;
}

#searchBtn {
    margin: 3px;
    width: 110px;
    padding: 2px;
}

// ============= BreweryList.js ==================

.BreweryList {
    background: #E2B23A;
    height: 100%;
}

.breweryCardContainer {
    bottom: 0px;
    width: 70vw;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    background: #eccc7d;
}

.BreweryCard {
    border: none;
    background: #eccc7d;
    margin: 0 auto;
    width: auto;
    padding: 10px;
    border-bottom: black solid 1px;
    color: 	#292929;
}

#info {
    width: 29vw;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: darken(#fff, 50%)
}

.seeMoreButton {
    font-size: 12px;
    text-align: right;
    color: #292929
}

.address h5{
    margin: 0 auto;
}

// ============= BeerList.js ==============

.BeerList {
    background: #E2B23A;
    height: 100%;
}

.BeerCard {
    width: 29vw;
    margin: 0 auto;
    padding: 10px;
    margin: 8px;
    background: #eccc7d;
    border-radius: 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

.BeerCard h3 {
    margin: 0 auto;
}

.BeerCard h4 {
    margin: 0 auto;
}

.BeerCard {
    border: none;
    background: #eccc7d;
    margin: 0 auto;
    width: auto;
    padding: 10px;
    border-bottom: black solid 1px;
    color: 	#292929;
}

#beerinfo {
    width: 29vw;
    margin: 0 auto;
}

// ============= BreweryShow.js ==============

.BreweryShow {
    background: #E2B23A;
    height: 100%;
}

.show {
    margin: 150px 0px 0px 0px;
}

.breweryDeets {
    // width: 80vw;
    margin: 0 auto;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    background-color: #eccc7d;
    color: #292929;
    padding: 10px;
}

.brewReviews {
    width: 30vw;
    margin: 0 auto;
}

.beerReviews {
    width: 30vw;
    margin: 0 auto;
}

.reviewButtons {
    padding: 12px;
    font-size: 1rem;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
    margin: 5px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
}

.reviewButtonContainer {
    padding: 10px;
}
.showImgBlock {
    background: url(https://i.imgur.com/TZ4ug7i.jpg?2);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 50vh;
}

.postSection {
    margin-top: -2px;
    background: #E2B23A;
}

.userPosts {
    display: flex;
}

.breweryPost {
    margin: 5px;
    background: #eccc7d;
    border-radius: 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
}

// ============= BeerShow.js =================

.BeerShow {
    background: #E2B23A;
    height: 100%;
}

// ============= About.js ==================

.About {
    background: #E2B23A;
    height: 100%;
}

.aboutBlurb {
    padding-top: 45px;
    width: 70vw;
    margin: 0 auto;
}

#credits {
    font-size: 15px;
}

// ============= Profile.js ==================

.Profile {
    background: #E2B23A;
    height: 100%;
}

.profileSubhead {
    margin: 20px 0px 50px 0px;
}

.yourPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.containers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.breweryContainer {
    border: 1px solid black;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    width: 20vw;
    height: 50vh;
    overflow-y: scroll;
}

.beerContainer {
    border: 1px solid black;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    width: 20vw;
    height: 50vh;
    overflow-y: scroll;
}

#postsTitle {
    text-decoration: underline;
}

.contents {
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}

// ============= Login.js ==================

.Login {
    background: #E2B23A;
    height: 100%;
}

#login {
    color: white;
}

.loginImgBlock {
    background: url(https://i.imgur.com/6T0u5OP.jpg?1);
    height: 65vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginFormBlock {
    color: black;
    background: rgba(255, 255, 255, .6);
    border-radius: 5px;
    width: 30vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    padding: 5px 10px;
}

#email {
    padding-right: 10px;
}

#password {
    padding-right: 10px;
}

#goToRegister {
    color: #292929;
    margin-top: 15px;
}

.redirect {
    color: #292929;
    transition: all .2s ease;

    &:hover {
        color: white;
    }
}

// ============= Register.js ==================

.Register {
    background: #E2B23A;
    height: 100%;
}

#regTag {
    color: white;
}

.regImgBlock {
    background: url(https://i.imgur.com/a6nnt7C.jpg?1);
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regFormBlock {
    background: rgba(255, 255, 255, .6);
    width: 35vw;
    border-radius: 5px;
    color: black;
    padding: 10px;
}

.regLabel {
    padding-right: 10px;
}

#goToLogin {
    color: #292929;
    padding-top: 15px;
}

.redirect {
    color: #292929;
    transition: all .2s ease;

    &:hover {
        color: white;
    }
}

// ============= Logout.js ==================

.Logout {
    background: #E2B23A;
    height: 100%;
}

#logout {
    color: #292929;
}

.redirect {
    color: #292929;
    transition: all .2s ease;

    &:hover {
        color: white;
    }
}