// ============= Universal Styling ==================

.Page {
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 85vw;
}

h1 {
    margin-bottom: 30px;
}

h4 {
    margin: 50px 0px 30px 0px;
    
}

img {
    width: 650px;
    border: 5px solid goldenrod;
    border-radius: 5px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
}

// ============= Home.js ==================


// ============= SearchForm.js ==================

.formBlock {
    text-align: center;
}

#searchbar {
    margin: 3px;
    width: 167px;
    padding: 2px;
    color: black;
}

#selectBar {
    width: 175px;
    margin: 3px;
    padding: 2px;
}

#searchBtn {
    margin: 3px;
    width: 110px;
    padding: 2px;
}

// ============= BreweryList.js ==================

.breweryCardContainer {
    height: 78vh;
    overflow-y: scroll;
    bottom: 0px;
    width: 35vw;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
}

.BreweryCard {
    border: 2px solid black;
    border-radius: 5px;
    width: 29vw;
    margin: 0 auto;
    margin-top: 7px;
}

#info {
    width: 29vw;
    margin: 0 auto;
}

a {
    color: black;
}

a:hover {
    color: darken(#fff, 50%)
}

// ============= BeerList.js ==============

.BeerCard {
    border: 1px solid black;
    width: 29vw;
    margin: 0 auto;
}

// ============= BreweryShow.js ==============

.show {
    margin: 150px 0px 0px 0px;
}

.breweryDeets {
    width: 34.5%;
    margin: 0 auto;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.brewReviews {
    width: 33%;
    border: 2px solid black;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
}

.reviewButtons {
    padding: 12px;
    font-size: 1rem;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
    margin: 5px;
}

.buttonContainer {
    // display: flex;
    align-items: center;
    justify-content: center;
}

// ============= BeerShow.js =================

// ============= About.js ==================

.aboutBlurb {
    padding-top: 45px;
    width: 70vw;
    margin: 0 auto;
}

#credits {
    font-size: 15px;
}

// ============= Profile.js ==================

.profileSubhead {
    margin: 20px 0px 50px 0px;
}

.yourPosts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.breweryContainer {
    border: 1px solid black;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    width: 20vw;
    height: 50vh;
    overflow-y: scroll;
}

.beerContainer {
    border: 1px solid black;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    width: 20vw;
    height: 50vh;
    overflow-y: scroll;
}

#postsTitle {
    text-decoration: underline;
}

.contents {
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
}

// ============= Login.js ==================

// ============= Register.js ==================

// ============= Logout.js ==================