.reviewButtons {
    padding: 12px;
    font-size: 1rem;
    border-radius: 2px;
    min-width: 100px;
    cursor: pointer;
    margin: 5px;
}

.buttonContainer {
    // display: flex;
    align-items: center;
    justify-content: center;
}