header {
  background: gray;
  font-family: garamond;
  text-align: left;
  border: 3px solid goldenrod;
  border-radius: 5px;
  padding: 20px 10px;
  // display: flex;
  // flex-direction: column;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px; 
  margin: 0 auto;

  a {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    // text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
    transition: color 0.3s ease;
    margin: 15px;

    &:hover {
      color: darken(#fff, 20%)
    }
  }
}

#headerTitle {
  text-align: center;
  color: white;
}

.nav {
  padding: 5px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.logoutNav {
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  // text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: darken(#fff, 20%)
  }
}