header {
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTySHVX_8h2fDS5n2vNDRK6PA00BtS7ZNu4TA&usqp=CAU);
  // background-repeat: none;
  // background-position: stretch;
  font-family: garamond;
  text-align: left;
  border: 3px solid goldenrod;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
  width: 100%;
  position: fixed;
  top: 0px;
  

  a {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
    transition: color 0.3s ease;
    margin: 15px;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  .nav {
    width: 200px;
    padding: 1px 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 0px 10px;
    }
  }
}