header {
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTySHVX_8h2fDS5n2vNDRK6PA00BtS7ZNu4TA&usqp=CAU);
  font-family: garamond;
  text-align: left;
  border: 3px solid goldenrod;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
  width: 100vw;
  position: fixed;
  top: 0px; 

  a {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
    transition: color 0.3s ease;
    margin: 15px;

    &:hover {
      color: darken(#fff, 20%)
    }
  }

  .nav {
    width: 200px;
    padding: 1px 0px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  // .brewserLogo {
  //   color: white;
  //   font-family: garamond;
  //   font-weight: bold;
  //   text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
  // }

  ul {
    display: flex;
    margin: 0;
    padding: 0px 15px 0px 0px;

    li {
      list-style-type: none;
      padding: 0px 7px;
    }
  }
}

.logoutNav {
  color: white;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: 1px 0 black, 0 2px black, 2px 0 black, 0 1px black;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: darken(#fff, 20%)
  }
}