.homeModal {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 65%;
    margin: 0 auto;
    padding: 30px 45px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.75);
    text-align: center;
    position: relative;
    top: 80px;
}

.modalBtn {
    margin: 3px;
    color: white;
    font-size: 18px;
    background: goldenrod;
    padding: 5px;
}

#modalBtn {
    color: white;
    padding: 3px;
}

.imgContainer {
    padding: 50px;
}